.Header {
    background-color: #282c34;
    min-height: 20vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Footer {
    display: flex;
    padding-top: 20px;
    background-color: #282c34;
    color: #282c;
    flex-direction: column;
    min-height: 5vh;
}

.Body {
    flex: 1;
    background-color: black;
    color: white;
}
