.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.AppLogo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: AppLogoSpin infinite 20s linear;
  }
}

@keyframes AppLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.AppHeader {
  background-color: #282c34;
  min-height: 20vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppFooter {
  display: flex;
  padding-top:20px;
  background-color: #282c34;
  color:#282c;
  flex-direction: column;
  min-height: 5vh;
}

.AppBody {
  flex: 1;
  background-color: black;
  color: white;
}

.AppLink {
  color: #61dafb;
}



.App .Button{
  background-color: green;
  border: 1px solid yellow;
  color: yellow;
  padding: 5px 20px;
  cursor: pointer;
}

.App .Button:hover {
    background-color: lightgreen;
    color: green;
}

.App .Button.Alt{
  background-color: darkgreen;
}

.App .Button.Alt:hover{
  background-color : #F003;
  color: red;
}
